# Default
.Rproj.user
.Rhistory
.RData
.Ruserdata

#
.DS_Store
.Rapp.history

# Data
/data
/processed data

# Output data
*.log
*.png
*.tiff
*.html
*.jpg
*.csv
*.xlsx
*.pdf
*.rds
*.zip
*.docx

# Rmd and pptx
*.pptx

# Example code in progress
*-Ex.R
*-Ex.Rmd